<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">


<link rel="import" href="sb-search.html">
<link rel="import" href="sb-icons.html">

<link rel="lazy-import" href="sb-commands.html">
<link rel="lazy-import" href="sb-info.html">
<link rel="lazy-import" href="sb-login.html">
<link rel="lazy-import" href="sb-plugins.html">
<link rel="lazy-import" href="sb-config.html">
<link rel="lazy-import" href="view-404.html">

<link rel="import" href="log-out.html">

<dom-module id="app-main">
    <template>
        <style>
            :host {
                --app-primary-color: var(--google-yellow-500);
                --app-secondary-color: rgb(65, 65, 65);
                --app-primary-color2: var(--google-yellow-700);
                --app-primary-background-color: rgb(40, 40, 40);
                --sb-search-width: 300px;
                
            }

            app-toolbar {
                height: 56px;
                color: white;
            }

            app-drawer-layout {
                --app-drawer-content-container: {
                    overflow: auto;
                    background-color: var(--app-primary-background-color);
                };
            }

            app-drawer-layout[narrow] {
                --sb-search-width: 230px;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-drawer-layout:not([narrow]) [log-in] {
                display: none;
            }

            app-drawer-layout[narrow] [log-in-head] {
                display: none;
            }

            app-drawer-layout[narrow] [skitty-bot] {
                display: none;
            }

            app-header {
                color: white;
                background-color: var(--app-primary-color);
                font-weight: 500;
                --app-toolbar-font-size: 115%;
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: var(--app-secondary-color);
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-primary-color);
                line-height: 40px;
                font-weight: bold;
            }

            .drawer-list a.iron-selected {
                color: var(--app-secondary-color);
                background-color: var(--app-primary-color);
                font-weight: bold;
            }

            app-header a {
                color: var(--app-secondary-color);
                font-size: 16px;
                text-decoration: none;
            }

        </style>


        <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
        </app-route>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <!-- Use "force-narrow" to initially hide drawer -->
        <app-drawer-layout fullbleed narrow="{{narrow}}">

            <!-- Drawer content -->
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <app-toolbar>
                    <div main-title>Categories</div>
                </app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="sb-info" href="[[rootPath]]sb-info">Info</a>
                    <a name="sb-commands" href="[[rootPath]]sb-commands">Commands</a>
                    <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
                        <a name="sb-plugins" href="[[rootPath]]sb-plugins">Plugins</a>
                        <a name="sb-config" href="[[rootPath]]sb-config">Config</a>
                    </div>
                    <a name="sb-login" href="[[rootPath]]sb-login" hidden$="[[storedUser.loggedin]]" log-in>Sign in</a>
                </iron-selector>
                <iframe style="padding-top: 25px;" src="https://discordapp.com/widget?id=412686231101505536&theme=dark" width="210" height="500" allowtransparency="true" frameborder="0"></iframe>
            </app-drawer>

            <!-- Main content -->

            <app-header-layout has-scrolling-region>

                <app-header slot="header" condenses shadow reveals>
                    <app-toolbar id="toolBar">
                        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                        <div class="appTitle" main-title>
                            <span skitty-bot>SkittyBot</span>
                        </div>

                        <sb-search id="searchElement" input-label="Search commands" term="{{searchText}}"></sb-search>

                        <a name="sb-login" href="[[rootPath]]sb-login" hidden$="[[storedUser.loggedin]]" log-in-head>Sign in</a>
                        <div hidden$="[[!storedUser.loggedin]]" log-in-head>
                            <log-out stored-user="{{storedUser}}" link></log-out>
                        </div>
                    </app-toolbar>
                </app-header>

                <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view-404" role="main">
                    <sb-info name="sb-info"></sb-info>
                    <sb-commands search-el={{searchElement}} filter-by="{{searchText}}" name="sb-commands"></sb-commands>
                    <sb-login name="sb-login"></sb-login>
                    <sb-plugins name="sb-plugins"></sb-plugins>
                    <sb-config name="sb-config"></sb-config>
                    <view-404 name="view-404"></view-404>
                </iron-pages>

            </app-header-layout>

        </app-drawer-layout>

    </template>

    <script>
        class MyApp extends Polymer.Element {
            static get is() { return 'app-main'; }

            constructor() {
                super();
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: String,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'view1' in that case.
                this.page = page || 'sb-info';
                if (page == 'sb-commands') {
                    this.$.searchElement.hidden = false;
                } else {
                    this.$.searchElement.hidden = true;
                }
                // Close a non-persistent drawer when the page & route are changed.
                if (!this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl(`${page}.html`);
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'view-404';
            }

            ready() {
                super.ready();
                this.searchElement = this.$.searchElement;
            }

        }

        window.customElements.define(MyApp.is, MyApp);
    </script>
</dom-module>