<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="sb-info">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            a,
            a:link,
            a:visited {
                color: var(--app-primary-color2);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .card,
            h1 {
                background-color: var(--app-primary-background-color);
                color: rgb(189, 189, 189);
            }

            .center {
                margin: auto;
                width: 75%;
                padding: 10px;
                text-align: center;
            }

            code {
                background-color: var(--app-secondary-color);
                color: var(--app-primary-color2);
                font-size: 0.875em;
                font-weight: normal;
                padding: 0.25em 0.5em 0.25em;
            }

            code,
            pre {
                -moz-osx-font-smoothing: auto;
                -webkit-font-smoothing: auto;
                font-family: monospace;
            }

            p {
                padding-left: 2em;
            }
        </style>

        <iron-ajax id="getInfo" method="get" url="/info" handle-as="json" last-response="{{info}}"></iron-ajax>

        <div class="card">
            <div class="center">
                <p class="center">
                    <img alt="FlutterBot" src="//cdn.discordapp.com/attachments/452398197403418635/521565345308344325/skittybot.png"
                        style="width:75%"></img>
                </p>
                <p class="center">
                    A My Little Pony themed multi-purpose DiscordApp bot.
                </p>
            </div>

            <div class="content">

                <h1>Welcome to {{info.bot_name}}'s web app</h1>

                <p>
                    Click on the <a href="/botsys/sb-commands">commands</a> button to see a list of all my commands in one page.<br>
                    For any questions, help, suggestions, and complaints, consider <a href={{info.support_server}}>visiting my guild!</a><br>
                    I'm a public bot, so you can <a href={{info.bot_invite}}>invite me to your guild.</a>
                </p>

                <h2>Getting started</h2>

                <p>
                    Set a prefix for your server: <code>@FlutterBot prefix !</code><br>
                    Then use the <code>!help</code> command. It's that simple.<br>
                    There are a variety of command modules or categories, get a list of them all with: <code>!modules</code><br>
                    Use the <code>!help</code> on a command to print detailed help for that command: <code>!help command</code>.<br>
                    You can even use the <code>!help</code> command on module names to get a list of all commands in that module category.
                </p>

                <h2>What can the bot do?</h2>

                <ul>
                    <li>[Experimental] Subscribe to YouTube channels</li>
                    <li>Subscribe to subreddits</li>
                    <li>Follow twitter accounts.</li>
                    <li>Self-role setup commands</li>
                    <li>Starboard and message pinning with ⭐ and 📌 emojis</li>
                    <li>Various 4chan related commands for monitoring boards or finding and mirroring threads to a
                        channel</li>
                    <li>Roleplay commands</li>
                    <li>Configurable 4chan command allows mirroring threads, setting watched keywords for board content
                        etc.</li>
                    <li>Searches content in various websites like imdb, youtube, reddit and more.</li>
                    <li>Some content aware image editing commands, meme generation</li>
                    <li>Configurable behaviors like welcome and depart messages or automatic text reactions when a user
                        says something</li>
                    <li>Disable and enable individual commands or entire command categories</li>
                </ul>

                <h2>Further help</h2>

                <p>
                    Due to how some of the commands have configurable behavior, some of my commands can be a bit complicated and require
                    using flags or sub-commands.<br>
                    Some examples being welcome messages, self-assignable roles, starboard setup, and 4chan commands.<br>
                    If you're having trouble with the bot or working with some of these commands, you're more than
                    welcome to join <a href={{info.bot_invite}}>my server</a> and ask any questions.
                </p>

            </div>

        </div>

    </template>

    <script>
        class SkittyBotInfo extends Polymer.Element {
            static get is() { return 'sb-info'; }

            static get properties() {
                return {
                    formData: {
                        type: Object,
                        value: {}
                    }
                }
            }

            ready() {
                super.ready();
                this.$.getInfo.generateRequest();
            }

        }
        window.customElements.define(SkittyBotInfo.is, SkittyBotInfo);
    </script>
</dom-module>